<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.acolher">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.MeusDadosInstituicaoActivity"/>
        <activity android:name=".view.CadastroDisponibilidade" />
        <activity android:name=".chamaTelas" />
        <activity android:name=".view.login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.AlterarSenha" />
        <activity android:name=".view.CadastroEndereco" />
        <activity android:name=".view.CadastroActivity" />
        <activity android:name=".view.AlterarDadosInstituicao" />
        <activity android:name=".view.CadastroInstituicao" />
        <activity android:name=".view.MapsActivity" />
        <activity android:name=".view.Consultas" />
        <activity android:name=".view.MeusDadosActivity"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- service android:name=".service.LocationIntentService" android:exported="false"/ -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>